body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}


header a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.hotel {
    width: 30%;
    margin: 10px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hotel img {
    max-width: 100%;
    height: auto;
}

.hotel h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.hotel p {
    color: #666;
}

.hotel button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.hotel button:hover {
    background-color: #555;
}




form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
